/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('/content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}
.icon-hover {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2); // Ajustez la valeur si nécessaire
  }
}

.card-hover {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.03); // Légère augmentation de la taille de la carte
  }
}


